/*
    Notes:
    Tablet Breakpoint = 768px
    Desktop Breakpoint = 1024px
*/

body {
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    background: rgb(161, 176, 255);
    background: linear-gradient(180deg, rgba(161, 176, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
}

header {
    padding: 2rem 1rem;

    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

h1,
p {
    margin: 0;

    color: #333;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
}

p {
    font-size: 15px;
}

.grid-numbers {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (min-width: 768px) {
    .grid-numbers {
        grid-template-columns: repeat(10, 1fr);
    }
}

.btn {
    border: 1px solid #333;
    width: 4rem;
    height: 4rem;
    font-size: 26px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .btn {
        width: 5rem;
        height: 5rem;
        font-size: 36px;
    }
}

.btn:hover {
    outline: 3px solid #dc3545;
}

.btn--highlighted {
    background-color: #007bff;
    color: #fff;
}
